html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    box-shadow: 1px 1px 20px black;
}
.section {
    max-width: 1500px;
}
.jedna {
    text-transform: uppercase;
    font-weight: bold;
}
.vlastnost {
    padding: 1rem;
    list-style-type: none;
    flex: 1 1 50%;
    text-align: center;
}
h2,
.hlavicka {
    color: #48418e;
}
.hlavicka {
    display: flex;
    margin: 0;
    flex-wrap: wrap;
}
.vlastnost:hover {
    color: white;
    background:#48418e; 
}
h1 {
    font-weight: 400;
    font-size: 30px;
}
.motto {
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 1rem;
}
.tlacitko {
    border: 2px solid white;
    padding: 1rem;
    border-radius: 15px;
    text-align: center;
    list-style-type: none;
}
.stahuj {
    background-color: #48418e;
}
ul {
    padding-inline-start: 0;
}
a {
    color: white;
    text-decoration: none;
    font-weight: 300;
}
li:hover {
    background: linear-gradient(90deg, rgba(72,65,142,1) 0%, rgba(72,65,142,1) 35%, rgba(37,19,61,1) 100%);
}
.stahuj:hover {
    background:none;
} 
.hlavni {
    background: linear-gradient(90deg, rgba(37,19,61,1) 0%, rgba(72,65,142,1) 35%, rgba(170,84,119,1) 100%);
    color: white;
    padding: 1rem;
}
.textova {
    padding: 1rem;
    text-align: center;
    line-height: 1.5;
}
img {
    width: 50px;
}
.paticka {
    background-color: #48418e;
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 0.5rem;
}
.telefon {
    display: none;
}
/*VERZE M*/
@media (min-width: 765px) {
    .vlastnost{
        flex-grow: 0;
        flex-basis: auto;
        justify-content: flex-start;
        text-align: left;
    }
    .hlava {
        display: flex;
    }
   ul {
       display: flex;
   }
    .stahuj {
        margin-right: 1.5rem;
    }
    .textova {
        display: flex;
    }
    .zij{
        padding: 0.5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .bublina {
        order: 1;
    }
    .nadpis {
        order: 2;
        flex-basis: 100%;
    }
    .text {
        order: 3;
        max-width: 350px;
    }  
}


/*VERZE L*/
@media (min-width: 1025px) {
    .hlavni {
        display: flex;
        justify-content: space-between;
    }
    .telefon {
        width: fit-content;
        display: flex;
        align-self: right;
    }
    h1 {
        font-size: 50px;
    }
    .hlavni {
        padding: 0;
    }
    .levy {
        padding-left: 1rem;
    }
    .pravy {
        padding: 0;
        padding-top: 0.3rem;
        margin: 0;
    }
    
}